
@media only screen and (max-width: 768px) {
    
    .media.service-box {
        margin: 0px;
    }
    #pricing ul.pricing{
        margin-bottom:10px;
        margin-top:0;
    }
    #pricing {
        padding-top: 40px;
    }
    #contact-us{
        padding-top:40px;
    }
    #about{
        padding-top:40px;
    }
    #services{
        padding-top:40px;
    }

}

@media only screen and (min-width: 768px) {
    .preview {
        top:-30px;
        position: relative;
    }
}
#pricing {
    margin-bottom:10px;
}

#services {
    background-color: #3E9E48
}

#services i{
    padding-right: 80px;
}

#contact-us {
    background-color: #3E9E48;
}

.contact-info {
    background-color: #67D4CE;
}

/*MEDIUM DEVICES*/
@media (min-width: 768px){
    .container {
        
    }
}
